<div class="bg-light">
  <div class="container center w-75 p-1">
    <div *ngFor="let event of events | groupByDate : 'date'">
      <label class="btn-default mt-1 font-weight-bold text-secondary" name=date>{{ event.key | date: 'fullDate' }}</label>
      <igx-card type="outlined">
        <div *ngFor="let event of event.value">
        <igx-card-header>
          <div class="col-md-7 pl-0">
            <img [src]="event.subjectPhotoUrl" class="rounded-circle" width = "9%">
            <label name="title" class="font-weight-bold ml-1">{{event.title}}</label>
          </div>
          <div class="col-md-3">
            <img [src]="event.instructorPhotoUrl" class="rounded-circle" width = "20%">
            <label name="authorName" class="ml-1">
              <small class="font-weight-bold text-dark">{{event.instructorName}}</small>
            </label>
          </div>
          <div class="col-md-2">
            <label name="time" class="ml-1">
            <small class="font-weight-bold text-dark">{{ event.time | rangeTime }}</small>
            </label>
          </div>
          <igx-card-content class="pt-0 pb-0 pl-2">
            <p class="col-md-7 pl-2 ml-1 text-dark">{{ event.description }}</p>
          </igx-card-content>
        </igx-card-header>
        <igx-divider [vertical]="horizontal"></igx-divider>
      </div>
      </igx-card>
    </div>
  </div>
</div>
